# Python
__pycache__/
*.py[cod]
*$py.class

# Virtual environments
venv/
env/
.venv/
.env

# Build & Dist
build/
dist/
*.spec

# Database
autosender_wapp.db

# Logs
logs/

# Browser profiles/binaries
browsers/

# IDE
.vscode/
.idea/
